.tab-pane {
    padding-top: 15px;
}

.chart {

    margin-top: auto;
    margin-bottom: auto;
}

    .chart:hover {
        border-color: rgba(0,191,255, 0.8);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(0,191,255, 0.6);
        outline: 0 none;
    }