.container-flex {
    margin-left: 5vw;
    margin-right: 5vw;
}

.loader {
    position: relative;
    height: 140px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.loader-msg {
    position: relative;
    top: 8vh;
    font-size: 20px; 
    color: #ad5389;
}

.header {
    margin: 0px;
    height: 50px !important;
}

:host >>> .icon {
    position: relative;
    bottom: 5px;
    font-size: 30px;
}

:host >>> .chart-card {
    width: 500px;
}

:host >>> .chart-header {
    margin-bottom: -20px;
}

:host >>> .chart-title {
    margin: 0 -10px;
}

:host >>> hr {
    margin-left: -16px;
    width: calc(100% + 32px);
}

:host >>> .chart {
    margin-top: 10px;
    width: calc(100% + 16px);
    margin: 0 -8px 8px -8px;
}