@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
}

html {
}

body {
    background: #757f9a;
    background: -webkit-linear-gradient(to right, rgba(236, 233, 230, 0.5), #FFFFFF);
    background: linear-gradient(to right, rgba(236, 233, 230, 0.5), #FFFFFF);
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: inherit;
}

.margin-top-md {
    margin-top: 60px;
}

.margin-top-lg {
    margin-top: 80px;
}

.noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }