<ng-container *ngIf="summaryReport && summaryReport.length > 0; else tooShortSimulation">
    <h6>Summary report of reached destinations by driver type</h6>
    
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Driver type</th>
                <th scope="col">Avg. age</th>
                <th scope="col">Avg. reaction time</th>
                <th scope="col">Avg. speed</th>
                <th scope="col">Avg. travel time</th>
                <th scope="col">Most popul. target</th>
                <th scope="col">Vehicle's count</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of summaryReport">
                <th scope="row">{{report.driverType}}</th>
                <td>{{report.avgAge}}</td>
                <td>{{report.avgReactionTime}} s</td>
                <td>{{report.avgSpeed}} km/h</td>
                <td>{{report.avgTravelTimeText}}</td>
                <td>{{report.mostPopularRouteTarget}}</td>
                <td>{{report.count}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #tooShortSimulation>
    <h5>
        <span class="badge badge-warning">Simulation took too little time and couldn't provide enough data to display!</span>
    </h5>
</ng-template>