<div class="container-flex margin-top-lg">
    <div *ngIf="connected else loading" class="card">
        <div class="card-body">

        <h2 class="card-title"><span class="badge badge-dark">Dashboard</span></h2>
        
            <div class="card-header">
                Statystyki
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </li>
                </ul>

            <div class="card-header">
                Heatmapa
            </div>
            <br/>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loader">
        <ngx-spinner [fullScreen]="false" type="pacman" size="large" color="#3c1053">
            <p class="loader-msg">{{ loader }}</p>
        </ngx-spinner>
    </div>
</ng-template>

