.container-flex {
    margin-left: 5vw;
    margin-right: 5vw;
}

.loader {
    position: relative;
    top: 30vh;
}

.loader-msg {
    position: relative;
    top: 14vh;
    font-size: 30px; 
    color: #ad5389;
}