<div class="container summary">
    <div class="d-flex justify-content-center">
        <button matInput type="button" class="btn btn-outline-dark summary-button" (click)="show()">Simulation summary</button>
        <button matInput type="button" class="btn btn-outline-primary summary-button" (click)="refresh()">Refresh</button>
    </div>

    <ng-container *ngIf="showSummary">
        <mat-accordion multi="true">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <b>Simulation summary</b>
                </mat-expansion-panel-header>

                Czas trwania symulacji: {{ appTime | date: 'mm:ss.SS' }}

            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion multi="true">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <b>Statistics</b>
                </mat-expansion-panel-header>

                <app-vehicle-population [data]="vehiclePopulationData"></app-vehicle-population>
                <app-statistics></app-statistics>

            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
</div>