<div class="console text-white bg-dark mb-2" id="logs-console">
    <span *ngFor="let log of logs" class="d-block mx-1 mt-1">
        <mark *ngIf="log.timeStamp">{{ log.timeStamp }}</mark>
            <mark class="log-message"  [ngClass]="getLogColorClass(log)" >{{ log.message }} </mark>
    </span>
</div>
<div class="form-inline">
    <button type="button" class="btn btn-light btn-sm mr-1 d-md-inline-flex" (click)="clear()">
        <i class="material-icons"> highlight_off </i>
        Clear
    </button>
    <button type="button" class="btn btn-light btn-sm mr-1 d-md-inline-flex" (click)="copy()">
        <i class="material-icons"> file_copy </i>
        Copy
    </button>
</div>