@{
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div id="line-chart" class="chart col-7"></div>
        <div id="donut-chart" class="chart col-5"></div>
    </div>
</div>