@{
    ViewData["Title"] = "Console";
}

<div class="row">
    <div id="system-console" class="console-container col-md-6"></div>
    <div id="sim-console" class="console-container col-md-6"></div>
</div>

<script src="~/lib/signalr/dist/signalr.min.js"></script>
<script src="~/js/console.js"></script>
<link rel="stylesheet" href="~/css/console-page.css" />
