@{
    ViewData["Title"] = "Console";
}
@section Styles {
    <link rel="stylesheet" href="~/css/console-page.css" />
}
@section Scripts {
    <script src="~/lib/signalr/dist/signalr.min.js"></script>
    <script src="~/js/console.js"></script>
}

<div class="row">
    <div id="system-console" class="console-container col-md-6"></div>
    <div id="sim-console" class="console-container col-md-6"></div>
</div>