button {
    width: auto;
    height: 40px;
}

i {
    margin-top: 2px;
}

.spinner-border {
    width: 20px;
    height: 20px;
}

svg {
    transition: 0.5s;
}

svg:hover {
    opacity: 0.8;
}

.unity-logo {
    margin-right: 20px;
}

.simulator-title {
    position: relative;
    top: 8px;
    margin: 20px;
    font-size: 35px;
    font-family: 'ITC Avant Garde';
    transition: 1s ease-in;
}

.connected {
    fill: white;
    color: white;
    transition: all 3s ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.disconnected {
    fill: #3c1053;
    color: #3c1053;
    transition: all 3s ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.5);
}

.app-buttons {
    margin: 20px;
}

.app-buttons button {
    margin: 5px;
}

@media screen and (max-width: 1170px) {
    .simulator-title {
        display: none;
    }
  }  