<mat-card class="chart-card" *ngIf="vehicleChart.chartLabels.length > 0">
        <mat-card-header class="chart-header">
                <div mat-card-avatar>
                    <i class="material-icons icon">insert_chart_outlined</i>
                </div>
                <mat-card-title class="chart-title">
                    <h6>Aktualna ilość pojazdów: 
                    <span class="badge badge-secondary">{{ currentPopulation }}</span></h6>
                </mat-card-title>
            </mat-card-header>
            <hr />
    <div class="chart">
        <canvas baseChart
                [datasets]="vehicleChart.data"
                [labels]="vehicleChart.chartLabels"
                [options]="vehicleChart.chartOptions"
                [legend]="vehicleChart.chartLegend"
                [chartType]="vehicleChart.chartType">
        </canvas>
    </div>
</mat-card>