<div class="container card margin-top-lg">
        <div class="card-title">
            <ul class="nav nav-tabs">
                <li class="nav-item" >
                    <a class="nav-link active d-lg-flex">
                        <h4><span class="badge badge-dark">
                            console logs
                        </span></h4>
                    </a>
                </li>
            </ul>
        </div>
        
    <div class="card-body">
        <app-logs></app-logs>
    </div>
</div>