nav {
    background: rgb(131,58,180);
    background:  linear-gradient(to left, #ad5389, #3c1053);
    flex-wrap: nowrap;
    max-height: 60px;
    min-width: 800px;
}

nav i {
    font-size: 40px;
}

nav a {
    font-size: 20px;
    min-height: 50px;
}

nav ul {
    min-width: 200px;
}

.dashboard-icon {
    margin-top: 6px;
}