nav {
    height: 60px;
    width: 100%;
    min-width: 800px;
    font-weight: 500;
    background: rgb(131, 58, 180);
    background: linear-gradient(to left, #ad5389, #3c1053);
    transition: all 1s ease;
}

nav i {
    font-size: 40px;
}

nav a {
    font-size: 20px;
    min-height: 50px;
}

nav ul {
    min-width: 200px;
}

.dashboard-icon {
    margin-top: 6px;
}

.scroll-effect {
    padding-left: 50px;
    padding-right: 50px;
    height: 55px;
}